/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 Mar 2022, 17:58:46
    Author     : patricia, sandra
*/

#a{
    float:left;
    padding-right: 4.2%;
    padding-top: 20.8%;
/*    border: 5px solid #1F3B34;*/
    

            }
            
 table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
#img{
    padding-top: 5%;
     padding-left: 45%; 
}
img{
display:block;
margin:auto;
}
.boton {
padding:20%; /*espacio alrededor texto*/
margin: 10% 30%;
border:  #1F3B34;
background-color:  #1F3B34; /*color botón*/
color: white; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 100%; /*bordes redondos*/
}
.c{
    color: white; /*color texto*/
}
          
footer {
  text-align: center;
  padding: 3px;
  background-color: #1F3B34;
  color: white;
}
   .pay-method{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
   .t {
        border: 1px gray solid;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5rem;
        margin: 1rem;
        width: 15%;
        height: 4rem;
    }
    .img1{
        width: 10rem;
        margin: -2.2rem 0;    
    }
    .visa{width: 8rem;}
    .maestro{width: 5rem;}
 .bet{
            width: 5rem;
            margin-left: auto;
            margin-right: 10rem;
            margin-top: 25%;
        }
        .bet div{
            width: 1rem;
            color: azure;
            display: flex;
            justify-content: space-between;
            margin: 0.2rem;
        }
        .bet input{
            width: 5rem;
          
        }
        .logo-user{
            margin-left:27%;
        }
        .texto-nombre-usu{
        
            color:white;
        }
           a {
  outline: none;
  text-decoration: none;
  color: black;
}
.box {
    overflow: hidden;
    margin: 5%;
}

.content {
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
}

.left {
    float: left;
    width: 80%;
}

.right {
    float: right;
    /*width: 20%;*/
}
btn1 a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: darkgreen;
    transition: all .35s;
}
.btn1{
    padding: 0.2%;
    background-color: black;
}
.btn1 a {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

    .caja-apuestas {
        border: 2px solid black;
        color: green;
        width: 250px;
/*        height: 250px;*/
        text-align: center;
        font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
        transition: background  0.3s ease-out;
    }


    /* estilo de conjunto 1 */
    .conjunto-btn1,
    .conjunto-btn2,
    .conjunto-btn3,
    .conjunto-btn4 {

        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
        /* VERDE*/
        padding: 10px;
        margin: 5px;
        transition-duration: 0.4s;

    }

    .conjunto-btn1:hover,
    .conjunto-btn2:hover,
    .conjunto-btn3:hover,
    .conjunto-btn4:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #4CAF50;
        /* Green */
        color: white;

    }


    .conjunto-input {
        border: 2px solid #4CAF50;
        padding: 10px;
        margin: 5px;
        width: 15%;

    }


    .conjunto-btn5 {

        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
        /* VERDE*/
        margin: 5px;
        padding: 10px;
        transition-duration: 0.4s;


    }

    .conjunto-btn5:hover {

        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #4CAF50;
        /* Green */
        color: white;

    }
.logo-user {
    margin-left: 45%;
}
.box{
    margin-top: 9rem;
}
.bets-container{
    margin-top: 10rem !important;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 1rem; 
}
.right{
    /*display: none;*/
}
.btnn {
    cursor: pointer;
}
button{
    cursor: pointer;
}
table p{
    width: 3rem;
    text-align: center;
    margin: 0; 
    margin-left: -1rem;
}
.establecida{
    height: 2rem
}
.margintop{
    margin-top: 1rem;
}