
.login-container{
    width: 100%;
    
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #1F3B34;
    color: white;
}

.label{
    color: black;
    text-align: center;
    margin: 1rem;
}
.btn-input{
    border-radius: 999px;
    width: 30%;
    text-align: center;
    height: 2rem;
}
#img{
    padding-top: 5%;
    padding-left: 45%; 
}
img{
    display:block;

}
           
section article.unocontactar {
  padding: 1.2rem;

}
section article.unocontactar form{

}

.caja{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    border: yellow 5px dotted;
    filter:alpha(opacity=95);
    font-family: sans-serif;
    -moz-opacity:.95;opacity:.95;
}

.fondo-foto {
    /* background: conic-gradient(lightpink, white, powderblue); */
    background: conic-gradient(#FFBC00, white, #1F3B34);
}


marquee{
    font-size: 3rem;
    
}
.btninicio{
    width: 15rem;
  margin: 3rem auto 5rem;
  
  border-radius: 999px;
}

.btninicio a{
  display: block;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  padding: 1rem;
  border-radius: 999px;
}

.btninicio a span{
    position: relative; 
  z-index: 200;
}

.btninicio a:after{
  position: absolute;
  content: "";
  color:black;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #67F48C ;
  transition: all .35s;
}

.btninicio a:hover{
  color: #fff;
}

.btninicio a:hover:after{
  width: 100%;  
  border-radius: 999px;
}

  .FUTBOL{
BACKGROUND-IMAGE: url(../img/BANNER3_-_1.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
  }
h1 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 5rem; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  margin-left: 25%;
  margin-bottom: 15%;

  }
  h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: 6.5rem; left: 10rem;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    
    }
        a {
  outline: none;
  text-decoration: none;
  color: black;
}    
    .log-btn{
        cursor: pointer;
    }
    .login-start{
            width: 50%;
            margin-top:7rem;
            margin-left: 25%;
    }
    .login-start img{
        width: 15%; 
        margin-left: 25%;
    }