/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 Mar 2022, 10:12:54
    Author     : javier
*/

marquee{
    font-size: 3rem;
    
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #1F3B34;
    color: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Lato', sans-serif;

  color: #b3aca7;
}

#form {
  position: relative;
  width: 500px;
/*  margin: 5px auto 100px auto;*/
  padding: 2%;
}

input {
    text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: black;
  border-radius: 999px;
  margin-top:2rem;

  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

.fondo-foto {
    /* background: conic-gradient(lightpink, white, powderblue); */
    background: conic-gradient(#FFBC00, white, #1F3B34);
    padding-bottom: 2rem;
}
.caja{
    padding: 2rem 10rem;
    margin:2rem 30rem 0;
    background: white;
    border: yellow 5px dotted;
    filter:alpha(opacity=95);
    -moz-opacity:.95;opacity:.95;
}
  .FUTBOL{
BACKGROUND-IMAGE: url(../img/BANNER5_LARGO.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 100%;
  }
h1 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 5rem; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  margin-left: 25%;
  margin-bottom: 15%;

  }
  h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: 6.5rem; left: 10rem;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    
    }
    .logo {
    width: 7rem;
}
    a {
  outline: none;
  text-decoration: none;
  color: black;
}
.menu-btn-principal{
        
        background-color: #1F3B34;
        color: white;
        border: 2px solid white;
        
        padding: 10px;
        margin: 5px;
        transition-duration: 0.4s;

    }

    .menu-btn-principal:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: gray;
   
        color: black;
    }