/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28 ene 2022, 14:39:18
    Author     : javip
*/

body{
    margin:0;
    padding:0;
}
header{
    display: flex;
    padding-right: 3rem;
    height: 7rem;
    align-items: center;    
    background-color: #1F3B34;
}
header div{
    background-color: #FFBC00;
    height: 100%;
}
.logo{
    width: 5rem;
    margin: 1rem 2rem 0 2rem;
}
form{
    margin-right: auto;
    margin-left: 4rem;
}
.search{
    position: relative;
    width: 1.5rem;
    top: 0.5rem;
    margin-right: -2.5rem;
}
input{
    height: 2rem;
    width: 15rem;
    border-radius: 20px; 
}
.btn{
    border-radius: 20px;
    padding: 0.7rem;
    margin: 1rem;
}
.help{
    border-radius: 50%;
    padding: 0.7rem 1rem;
    margin: 1rem;
}