/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 Mar 2022, 10:50:35
    Author     : javier
*/


body{
    margin:0;
    padding:0;
}
header{
    display: flex;
    flex-wrap: wrap;
    padding-right: 3rem;
    height: 7rem;
    align-items: center;    
    background-color: #1F3B34;
}
header div{
/*    background-color: #FFBC00;*/
    height: 100%;
    background: conic-gradient( lightblue,white, lightblue);
}
.logo{
    width: 5rem;
  
}
form{
    margin-right: auto;
    margin-left: 4rem;
}
.search{
    position: relative;
    width: 1.5rem;
    top: 1rem;
    margin-left: 1rem;
}
input{
    height: 2rem;
    width: 15rem;
    border-radius: 20px; 
}
label{
    margin-left: 1rem;
    color: white;
}

.btn{
    border-radius: 20px;
    padding: 0.7rem;
    margin: 1rem;
}
.help{
    border-radius: 50%;
    padding: 0.7rem 1rem;
    margin: 1rem;
}
/*-------------------------------------------------*/
.panel-heading{
    display: flex;
    border: 1px black solid;
    background-color: black;
    color: white;
    justify-content: space-around;
}

.sport-event{
    border: 1px blue solid;
    display: flex;
    background-color: darkgray;
    color: white;
}
.cell-buttons{
    display: flex;
}
.cell-buttons div+div{
    margin-left: 19rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.cell-buttons div{
    text-align: center;
    width: 100%;
}

.msg_cell{
    margin-left: 5rem;
}